{% extends 'OroUIBundle:actions:index.html.twig' %}
{% import 'OroUIBundle::macros.html.twig' as UI %}

{% set gridName = 'ticket-grid' %}
{% set pageTitle = 'webinar.ticket.entity_plural_label'|trans %}


{% block navButtons %}
    {% if resource_granted('webinar_demo_ticket_create') %}
        <div class="btn-group">
            {{ UI.addButton({
                'path' : path('webinar_demo_ticket_create'),
                'entity_label': 'webinar.ticket.entity_label'|trans
            }) }}
        </div>
    {% endif %}
{% endblock %}